{% extends 'base.html' %}
  
{% block title %} Admin {% endblock %}
 
{% block content %}
 <h1> LDAP Admin </h1>
<p>
Users in {{ settings.ORGANIZATION_NAME }}. <a href="{% url 'index' %}">Back to index page.</a>
</p>
<table width="97%" border="1">
    <th>uid</th><th>Name</th><th>E-mail</th><th>Actions</th>
{% for user in users %}
<tr>
    <td>{{user.uid}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>Yes</td>
    <td><a href="{% url 'delete' user.uid %}">D</a>elete |
    <a href="{% url 'pwreset' user.uid %}">R</a>eset pwd |
    {% if not user.user_dn in admins %}<a href="{% url 'setadmin' user.uid 1 %}">M</a>ake admin |{% endif %}
    {% if user.user_dn in admins %}<a href="{% url 'setadmin' user.uid 0 %}">R</a>emove admin</td>{% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
